// Themes
@import '../../Constants/Themes/MainTheme.scss';

// Sizes
@import '../../Constants//Sizes/Sizes.scss';

:local {
  .mainList {
    background-color: $Color-mainMenu;
    border-bottom: $Border-MainBorder;
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 0;
    max-height: $Size-MaxHeight-MainMenu;
    padding: 0;
    z-index: 3;
    .mainListItem {
      line-height: 1;
      padding: 0;
      .mainMenuButton {
        background: none;
        border: none;
        font-family: $Font-MainFont;
        line-height: 1;
        padding: 4px 8px;
        &:focus {
          outline: none;
        }
      }
      &:last-child {
        margin-left: auto;
      }
      &:hover {
        background-color: $Color-mainMenuSelected;
      }
    }
  }
}
