// Themes
@import '../../constants/Themes/MainTheme';

.logContainer {
  background-color: $Color-ChatLogBG;
  display: flex;
  flex-direction: column;
  height: calc(100% - 3rem);
  justify-content: left;
  list-style: none;
  margin: 0;
  overflow-y: auto;
  padding: 0;
  width: 100%;

  .logRegistry {
    padding: 1rem;
  }
}
.selected {
  background-color: $Color-ChatLogSelectedBG;
}
