// Themes
@import '../../Constants/Themes/MainTheme.scss';

// Sizes
@import '../../Constants//Sizes/Sizes.scss';

.statusBarList {
  background-color: $Color-mainMenu;
  border-top: $Border-MainBorder;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;

  .statusBarListItem {
    font-family: $Font-MainFont;
    line-height: 1;
    padding: 4px 8px;
  }
}

@media screen and (min-width: 992px) {
  .statusBarList {
    max-height: $Size-MaxHeight-MainMenu;
  }
}
