.aboutUsContainer {
  background-image: url('../../Logo10.svg');
  background-position-x: -25%;
  background-repeat: no-repeat;
  background-size: 125vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
