// Sizes
@import '../../constants/Sizes/Sizes';

.welcomeContainer {
  align-items: center;
  background-image: url('../../assets/img/mocks/maxresdefault.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;

  .loginRegisterContainer {
    display: flex;
    flex-direction: row;
    height: $Size-Height-Welcome-Nav;
    justify-content: flex-end;
    width: 100vw;

    .loginRegisterList {
      color: white;
      display: flex;
      flex-direction: row;
      font-weight: bold;
      list-style: none;
      margin: 0 1rem;
      padding: 0;

      .loginRegisterButton {
        background: none;
        border: none;
        color: white;
        font-weight: bold;
        list-style: none;
        margin: 0 1rem;
        padding: 0;
      }

      .loginRegisterSeparator {
        margin-left: $size-average-space-character;
        margin-right: $size-average-space-character;
      }
    }
  }
  .welcomeWrapper {
    align-items: center;
    display: flex;
    justify-content: center;
    height: $Size-Height-Welcome-Wrapper;

    .welcomeFrame {
      align-items: center;
      background-color: rgba(255, 255, 255, 0.4);
      border: solid 1px white;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      max-width: 75%;
      padding: 2rem;

      .logo {
        background-image: url('../../logo.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        height: 12rem;
        width: 12rem;
      }

      .headline {
        font-size: 30px;
        text-shadow: white 0 0 5px;
      }

      .description {
        font-size: 17px;
        font-weight: bold;
        text-shadow: white 0 0 5px;
      }
    }
  }
}
