// Sizes
@import '../../constants/Sizes/Sizes';

.welcomeContainer {
  align-items: center;
  background-image: url('https://uc45733f88f2886e2580b45e4c4a.previews.dropboxusercontent.com/p/thumb/AAy7DbJj5lCB74enDYjYqqxQxhN0USvEQxOKWCh3aFlR11yV_xZceKdrem3HfcmT1BXzH_mQnbKfeUW3H27yfRCjINoT1u2ffdhXS1cFEAveI-u91MJ5tXUaSVqIQxKKZcTD7J5RLdzhdtD8WJhYXKesvmTzOA8e41Mk3GA7qFAKP8OohX_zCWdOMOZpL1bdflmme2uLO_jG2pPLTj7HlYdYAoEWbRz0B-l8TMYqzsUBOnPQvWp1HIdj8D0tzJmcis2mwoc25UAJ5k71t9mnrrjDywtpC0npg9-iVuuugxZbWYfU3myAcfpI04TOZ10fZF1MiAucKsMOtWNSWRnPNnu13_VmcNfQkov7kFEB0XI2-h0Nqq7L5eJjee9H5dJczcd6vkBN7qeeEd81Mo0AJFgX/p.jpeg?fv_content=true&size_mode=5');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;

  .loginRegisterContainer {
    display: flex;
    flex-direction: row;
    height: $Size-Height-Welcome-Nav;
    justify-content: flex-end;
    width: 100vw;

    .loginRegisterList {
      color: white;
      display: flex;
      flex-direction: row;
      font-weight: bold;
      list-style: none;
      margin: 0 1rem;
      padding: 0;

      .loginRegisterButton {
        background: none;
        border: none;
        color: white;
        font-weight: bold;
        list-style: none;
        margin: 0 1rem;
        padding: 0;
      }

      .loginRegisterSeparator {
        margin-left: $size-average-space-character;
        margin-right: $size-average-space-character;
      }
    }
  }
  .welcomeWrapper {
    align-items: center;
    display: flex;
    justify-content: center;
    height: $Size-Height-Welcome-Wrapper;

    .welcomeFrame {
      align-items: center;
      background-color: rgba(255, 255, 255, 0.4);
      border: solid 1px white;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      max-width: 75%;
      padding: 2rem;

      .logo {
        background-image: url('https://uc380a02476a65056ff165df2013.previews.dropboxusercontent.com/p/orig/AAzKv1jZEJEtU1u0eMC5jYetgDgW_p8jdzp7YRUXNmw1zwfI0tS3B2VU0_-WUUPDe-9N3r9PfemwTAHipf1PDzgTynmPxvii52IpLt5LkhVwovHo0Tze4qjWzFe1EHPefnZmcUmjaIOYU8oXVVVticYlrdYbcQmTSoB13S2UxWUns4uuk8FFBQvhzjQeDaIZJGukZgyp0AYjWYaeqr9TOgiBG8WcJ0VrD42K9naxHxR8pwRe0l6m5Vc0uJZjmiOb5TmnAOkpoFGLa-3Xzjud8ByGAampIGx6nwR62hptI4hgKsMiGj-mt7kb4uhr7E9TwL-vtptg6MznK-PvSrwsHhaIIKAHMbDXKFe2FC2n1lkFlw/p.svg?fv_content=true&size_mode=5');
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        height: 12rem;
        width: 12rem;
      }

      .headline {
        font-size: 30px;
        text-shadow: white 0 0 5px;
      }

      .description {
        font-size: 17px;
        font-weight: bold;
        text-shadow: white 0 0 5px;
      }
    }
  }
}
