// Themes
@import '../../Constants/Themes/MainTheme.scss';

:local {
	.aboutContainer {
    align-items: center;
		background-color: $Color-MainBGColor;
		border: $Border-MainBorder;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 40rem;
    min-width: 35rem;
    .aboutDescription {
      width: 80%;;
    }
	}
}
