// Themes
@import '../../../Constants/Themes/MainTheme';

.subMenuWrapper {
  display: flex;
  justify-content: center;
}

.subMenuList {
  background-color: $Color-mainMenu;
  border: $Border-MainBorder;
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style: none;
  min-width: 8rem;
  padding: 0;
  width: 100%;
}
.subMenuListItem {
  width: 100%;
  &:hover {
    background-color: $Color-mainMenuSelected;
  }
}
.subMenuButton {
  background: none;
  border: none;
  font-family: sans-serif;
  padding: 1.4rem 0.8rem;
  width: 100%;
  &:focus {
    outline: none;
  }
}

@media screen and (min-width: 992px) {
  .subMenuWrapper {
    display: block;
    height: 0;
    position: relative;
    width: 0;
  }

  li {
    &:last-child {
      .subMenuWrapper {
        position: absolute;
        right: 0;
        width: initial;
      }
    }
  }

  .subMenuList {
    align-items: flex-start;
    justify-content: initial;
    padding: 0.8rem;
    width: max-content;
  }

  .subMenuListItem {
    margin: 0 -0.8rem;
    padding: 0.4rem 0.8rem;
  }

  .subMenuButton {
    padding: initial;
    text-align: left;
  }
}
