// Implement theme constants
.container {
  align-items: flex-start;
  border: solid 1px black;
  display: flex;
  flex-direction: column;

  .label {
    border-bottom: solid 1px black;
    box-sizing: border-box;
    font-weight: bold;
    line-height: 3rem;
    padding-left: 1rem;
    text-align: left;
    width: 100%;
  }

  .list {
    list-style: none;
    padding: 0;
    width: 100%;

    .row {
      border-bottom: solid 1px black;
      line-height: 3rem;
      padding-left: 1rem;
      text-align: left;

      &:last-child {
        border-bottom: none;
      }
    }
  }
}
