// Sizes
@import '../../constants/Sizes/Sizes';

.video {
  background-image: url('https://uce32459c3b9f2e6078479f41a58.previews.dropboxusercontent.com/p/thumb/AAyGk-WvXuxsGitPZSuqJMtmqY-6Xr_c8e2qzMEeQqtRz51WcpicctCTHrlnB-hqrtxF_7jtE90gzsdO4c4jKKD409RmeqHDubtSTiVW4Kjl1XFz-_GUXiISlH4EYTxJl3F-44Vsuz8HXCmN2bDhTzl1X4TcOQY_C2vt_9pEjt0o6nmsmka0Sts9q2mif-QH_kRyWmo_lmCK9bnJi4zbGPrqjquNkRYVjABFRBeVGgo9fr-FJcIPQXQUCupJXpOUBZyjPO8exzZ1GHOS6eOenq5kujYFb0uDqC0nwk-qFhCwOhNRuj8CuUxgB_8ELOOOryzPNodjk6dG3Iweub8RU3k8VQcnrYjy1IiKN0OgkJMlTPWOIGZt82rAjA2Kdjod7OF-4mJztzM7CahJZ93x7ump/p.jpeg?fv_content=true&size_mode=5');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: $Size-Height-Video500;
  width: 100%;
}

@media screen and (min-width: 600px) {
  .video {
    height: $Size-Height-Video600;
  }
}

@media screen and (min-width: 768px) {
  .video {
    height: $Size-Height-Video768;
  }
}

@media screen and (min-width: 992px) {
  .video {
    height: $Size-Height-Video992;
  }
}
