
.loginContainer {
  align-items: center;
  background-color: white;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  height: -moz-fit-content;
  height: fit-content;
  justify-content: space-between;
  margin: 0;
  padding: 4rem;
  width: -moz-fit-content;
  width: fit-content;

  .loginHeadline {
    line-height: 1;
    margin: 1rem 0;
  }

  .logininput {
    margin: 1rem 0;
  }

  .loginBtn {
    background: none;
    border: solid 2px black;
    border-radius: 5px;
    color: black;
    font-size: 18px;
    font-weight: bold;
    line-height: 1;
    margin: 1rem 0;
    padding: 4px 8px;

    &:hover {
      color: white;
      background-color: black;
    }

    &:focus {
      outline: none;
    }
  }
}
