// Colors
$Color-mainMenu: antiquewhite;
$Color-mainMenuSelected: cornflowerblue;

$Color-MainBGColor: antiquewhite;
$Color-MainBorderColor: gray;

$Color-ModalCurtain: rgba(0, 0, 0, 0.8);

// Fonts
$Font-MainFont: sans-serif;

// Borders
$Border-MainBorder: 1px solid $Color-MainBorderColor;
