// Sizes for app elements

// Main menu
$Size-MaxHeight-MainMenu: 2.3rem;

// Status bar
$Size-MaxHeight-StatusBar: 2.3rem;

// MainBoard
$Size-Height-MainBoard: calc(100vh - 4.8rem);

// MainBoard left panel
$Size-Width-MainBoard-LeftPanel: 100rem;

// Chat
$Size-Width-Chat: calc(100vw - 100rem);

// VideoPlayer
$Size-Height-Video: 50rem;
